* {
  box-sizing: border-box;
  margin: auto;
}

body{
  background-color: black;
}

h1 {
  font-family: 'Inconsolata', monospace;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.pokemon-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}


button {
  font-family: 'Macondo', cursive;
  font-style: italic;
  background-color: #99ffff;
  color: #007267;
  border: none;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: 10px 5px;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (min-width: 600px) and (max-width: 900px) {
  .pokemon-list__item {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
