* {
  box-sizing: border-box;
  margin: auto;
}

body{
  background-color: black;
}

h1 {
  font-family: 'Inconsolata', monospace;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.pokemon-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

button {
  border: none;
  display: inline-block;
  font-family: 'Macondo', cursive;
  background-color: #99ffff;
  color: #007267;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  margin: 10px 5px;
}

button:hover,
button:focus {
  cursor: pointer;
}

@media all and (min-width: 600px) and (max-width: 900px) {
  .pokemon-list__item {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
